{% extends 'adminbase.html.twig' %}

{% form_theme form _self %}

{% if post.id is null %}
    {% set title = 'Post create'|trans %}
{% else %}
    {% set title = 'Post update'|trans ~ ' №' ~  post.id %}
{% endif %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_main_page') }}">{{ 'Admin zone'|trans  }}</a></li>
        <li class="active">{% block title %}{{ title }}{% endblock %}</li>
    </ul>
    <h1>{{ title }}</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
