{% extends 'adminbase.html.twig' %}

{% block body %}
    <ul class="breadcrumb">
        <li>{{ 'Admin zone'|trans  }}</li>
    </ul>
    <div class="well">
    <a href="{{ path('admin_post_create') }}" class="btn btn-info">{{ 'Post create'|trans }}</a>
    <a href="{{ path('logout') }}" class="btn btn-danger pull-right">{{ 'Exit'|trans }}</a>
    </div>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Image</th>
            <th>Ispublish</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Publishedat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.image }}</td>
                <td>{% if post.isPublish %}Yes{% else %}No{% endif %}</td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.publishedAt %}{{ post.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="glyphicon glyphicon-pencil" href="{{ path('admin_post_update', { 'id': post.id }) }}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}